body {
    background-color: black;
}

#container {
    width: 600px;
    height: 600px;
    position: relative;
    margin: auto; 
}
.kwadraty {
    width: 200px;
    height: 200px;
    position: absolute;
    border: 2px solid white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
    left: 200px;
}

.green {
    background-color: green;
    right: 0;
}

.yellow {
    background-color: yellow;
    top: 200px;
}

.black {
    background-color: black;
    top: 200px;
    left: 200px;
}

.orange {
    background-color: orange;
    top: 200px;
    right: 0;
}

.purple {
    background-color: purple;
    bottom: 0;
}

.gray {
    background-color: gray;
    bottom: 0;
    left: 200px;
}

.pink {
    background-color: pink;
    bottom: 0;
    right: 0;
}

.kola {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
    position: absolute;
    left: 50px;
    top: 50px
}

.red div {
    background-color: pink;
}

.blue div {
    background-color: gray;
}

.green div {
    background-color: purple;
}

.yellow div {
    background-color: green;
}

.black div {
    background-color: red;
}

.orange div {
    background-color: blue;
}

.purple div {
    background-color: orange;
}

.gray div {
    background-color: yellow;
}

.pink div {
    background-color: black;
}
